.container_badge_button{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.badge {
    /* position:relative; */
   position:relative;
    bottom: 305px;
    right: 35px;
}

.btn {
    position:relative;
    right: 63px;
}